body {
    background-color: rgb(242, 242, 242);
}


.main-section{
    max-width: 75em;
    margin: 0 auto;
    

    .site-news {
        display: flex;
        margin: 1em;
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);

        @include bp(tablet){
            display: block;

        }
        
        &:nth-child(even) .news-pic {
            order: 2;
        }

       

        .news-pic img {
            width: auto;
            height: auto;
            background-size: cover;
            transition: transform 0.2s;
            border-radius: 0.3em;

            @include bp(mobile) {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;

            }

            &:hover {
                transform: scale(1.10);
            }

        }

        .card-section {
            background-color:rgb(178, 177, 177);
            display: flex;
            justify-content: center;
            align-items: center;

            

            @include bp(mobile) {
                text-align: center;
            }

            ul{

                
                transform: translateX(-2em);
                box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
                background-color: white;
                padding: 0.3em;
                z-index: 2;
                border-radius: 0.3em;

                &:hover {
                    border: 2px solid rgba(0,0,0,0.5);
                }

                @include bp(mobile) {
                    transform: translateY(-4em);
                    width: 80%;
                    margin: 0 auto;
                }

                li {
                    list-style-type: none;
                    padding: 1em;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    padding: 0.5em;
                    border-radius: 0.3em;
                    transition: background-color 0.3s ease-in;
                }

                a:hover {
                    background-color: rgb(199, 199, 199);
                    
                }
            }
        }
    }

}


.site-news:nth-child(even) .card-section ul {
    margin: 2em -4em 2em 4em;

    @include bp(mobile) {
        margin: 0 auto;
    }
}






/* About page */

.site .nav-toggle-label {
    text-align: center;
}
.about-section {


    

    .about-image {
        text-align: center;
        margin: 2em 0;
    
        img {
            box-shadow: 0 0 6px 1px rgba(0, 0, 0, 5);
            opacity: 0;
            transition: opacity 1.5s ease-out 0.6s;
    
            @include bp(mobile) {
                width: 100%;
                height: auto;
            }
        }
    
        
    }
}


.loaded .about-image img {
    opacity: 1;
}

.about-section .mcinfo {
    max-width: 75em;
    margin: 0 auto;
    margin-bottom: 2em;

}




.members {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgb(58, 51, 95);
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.3);

   
    .box {
        margin: 1em;
        border: 1px solid rgba(255, 255, 255, 0.466);
        padding: 1em;

        @include bp(mobile) {
            width: auto;
            padding: 0.3em;
        }
        
        h3 {
            margin: 1em 0;
            color: white;
            transform: translateY(-2em);
            opacity: 0;
            transition: 0.6s ease-out 0.2s;

            @include bp(mobile) {
                font-size: 16px;
            }
        }

        img {
            border-radius: 50%;
            box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.3);
            width: 200px;
            transform: translateY(2em);
            transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

            @include bp(mobile) {
                width: 100px;
            }
            
            
        }
    }

}



.members .box:hover {
    box-shadow: 0 0 2em 0em rgba(0,0,0,0.5);
    
}

.members .box:hover img {
    transform: translateY(0);
   
}

.members .box:hover h3 {
    transform: translateY(0);
    opacity: 1;
    
}

.gallery {
    max-width: 75em;
    margin: 0 auto;
    padding: 2em 0;

    h2 {
        text-align: center;
        padding-bottom: 1em;
        /* background-image: url(/images/2019/opening/15.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 1em; */
    }
}


/* Contact page */

.upper-contacts {
    display: flex;
    justify-content: space-between;
    max-width: 60em;
    margin: 0 auto;
    padding: 3em 0;
}

.upper-contacts .site-left {
    align-items: center;
}

.upper-contacts .site-left ul li {
    padding: 0.3em 0;
    list-style-type: none;
    
}

.site-contacts .map {
    border: 2px solid white;
    margin: 0 auto;
}
