.site-header {

    @include bp(desktop){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;    
    }

    h1 {
        transform: translateX(-2em);
        opacity: 0;
        transition: 0.3s ease-in;

        .loaded & {
            transform: translateX(0);
            opacity: 1;
        }
    }


    

    @include bp(mobile) {
        h1 {
            font-size: 20px;
            text-align: center;
        }
    }
    
    background-color: black;
    padding: 1em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.4);

    &:a {
        text-decoration: none;
                    color: rgb(216, 216, 216);
    }
    

    nav {

        @include bp(mobile) {
            display: none;
            text-align: center;
        }

        

        ul {
            @include bp(desktop){
                display: flex;
            }

            li {
                list-style-type: none;
                padding: 1em;
                border-radius: 0.5em;
                opacity: 0; 
                transform: translate(0, -5em);
                transition: opacity 0.6s ease-in-out 0.3s;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .loaded & {
                    opacity: 1;
                    transform: translate(0, 0);
                }

                a {
                    text-decoration: none;
                    color: rgb(216, 216, 216);
                    transition: 0.8s ease-in;
                    
                    &:hover {
                        color: white;
                    }

                    #current {
                        background-color: rgba(255, 255, 255, 0.1);
                        color: white;
                    }
                }
            }
        }

        
    }
}

.nav-toggle {
    position: absolute; /*за да скрием чекбокс */
    pointer-events: none;
    

    &:checked + .site-header nav {
        @include bp(mobile){
            display: block;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 0.5em;
        }
    }

    &-label {
        
        transition: 0.3s ease-in;
        padding: 1em;
        border-radius: 0.3em;
        color: white;

        @include bp(desktop) {
            display: none;
        }
        color: white;
    }
}

.nav-toggle-label:focus,
.nav-toggle-label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}