.page-начало .site-header {
    @include bp(desktop){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;    
    }
    padding-top: 1em;
    padding: 0 2em;
    text-align: center;
    background-image: url("../images/mclb2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
    position: relative;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 3em;

    h1 {
        visibility: hidden;
    }

    nav {
        padding: 1em;
    }

}

.nav-toggle {
    position: absolute; /*за да скрием чекбокс */
    pointer-events: none;
    opacity: 0;
}