<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <script src="https://kit.fontawesome.com/8cf489a2a4.js" crossorigin="anonymous"></script>
    <title>{{ site.title }}</title>
    <script>
            window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        
            })
    </script>
</head>
<body class="page-{{ page.title | slugify}}">

    
    <div class="site">
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <header class="site-header">
        <h1><a href="{{ site.baseurl }}/">МС Лудогорски братя</a></h1>

            {% include navigation.html %}
    </header>
        {{ content }}

        {% include footer.html %}

</div>
    
</body>
</html>